<h2> detalle del articulo </h2>
<div>
    <p> <strong> titulo: </strong> </p>

    <p><%= @article.title %></p>
</div>

<div>
    <p> <strong> body: </strong> </p>
    <p><%= @article.body %> </p>
</div>